.user-page {
  width: 70%;
  max-width: 450px;
  margin: auto;
  border: 1px solid #ccc;
  margin-top: 50px; }
  .user-page .tab {
    display: flex; }
    .user-page .tab .item {
      flex: 1;
      text-align: center;
      padding: 20px;
      background-color: #fafafa;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      font-size: 20px;
      color: #979faf; }
    .user-page .tab .item:first-child {
      border-right: 1px solid #ccc; }
    .user-page .tab .active {
      background-color: #FFF;
      border-bottom: 0;
      color: #333;
      font-weight: bold; }
  .user-page .main {
    padding: 20px; }

body {
  font-family: "Whitney SSm A", "Whitney SSm B", "AvenirNext-Regular", "Segoe UI", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.text-center {
  text-align: center; }

.text-danger {
  color: #d43f3a; }

.invalid input {
  border: 1px solid #d43f3a !important; }

.hide {
  display: none; }
