body {
      font-family: "Whitney SSm A", "Whitney SSm B", "AvenirNext-Regular", "Segoe UI", "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-center {
  text-align: center;
}
.text-danger {
  color: #d43f3a;
}
.invalid input {
  border: 1px solid #d43f3a !important;
}
.hide {
  display: none;
}
